<html>
	<head></head>
	<body>
		<div id="container"></div>
		<script>
			function showAllBooks(){
				let container = document.getElementById("container"); // load the container
				container.innerHTML = ""; // delete the content already inside the container
		      	let req = "http://127.0.0.1:8000/api/book/"
		      	fetch(req) // make a request to this endpoint
					.then(response => response.json()) // with our response, get the json data returned
					.then(data =>{
						container.innerHTML+=`<ol id="book-list"></ol>`; // create an empty list 
						data.forEach(elem=>{
							let bookList = document.getElementById("book-list"); // load the book lsit we just created
							let bookString = `<li>${elem.title} - ${elem.author}</li>`; // create a new li element containing info on our book
							bookList.innerHTML += bookString; // add the li element to the list of books
							bookList.innerHTML += `<button onclick="viewSingleBook(${elem.id})">View</button>`;
						})
					}); 
				}
			showAllBooks();// call the function 


			function viewSingleBook(bookId){
				const container = document.getElementById("container");
				container.innerHTML = ""; // Deleting anything already in the container div
				let req = (`http://127.0.0.1:8000/api/book/${bookId}/`)
				fetch(req) // make a request to this endpoint
				.then(response => response.json()) // with our response, get the json data returned
				
				.then(data =>{
					console.log(data); // print the json data
					container.innerHTML = container.innerHTML + `<ul id="book_data"></ul>`; // Adding created book_data list to conatiner div (to be displayed)
					let book = document.getElementById("book_data");
					book.innerHTML += `<h2>${data.title}</h1>`;
					book.innerHTML += `<li><strong>Author:</strong> ${data.author}</li>`;
					book.innerHTML += `<li><strong>Year:</strong> ${data.year}</li>`;
					book.innerHTML += `<li><strong>Inventory Number:</strong> ${data.inventory_number}</li>`;
					book.innerHTML += `<li><strong>Genre:</strong> ${data.genre}</li>`;
					book.innerHTML += `<button onclick="showAllBooks()">Go Back</button>`;
				});
			}
			// viewSingleBook(1); // call the function 
			
			
			function createBook(bookId){
				let container = document.getElementById("container");
				container.innerHTML = ""; // Deleting anything already in the container div
		      	container.innerHTML += `<form id="form"></form>`;
          		let book_form = document.getElementById("form");
      
				book_form.innerHTML += `<label for="title"><strong>Title:</strong></label> <input id="title" type="text"><br>`;
				book_form.innerHTML += `<label for="author"><strong>Author:</strong></label> <input id="author" type="text"><br>`;
				book_form.innerHTML += `<label for="genre"><strong>Genre:</strong></label> <input id="genre" type="text"><br>`;
				book_form.innerHTML += `<label for="year"><strong>Year:</strong></label> <input id="year" type="text"><br>`;
				book_form.innerHTML += `<label for="inventory_number"><strong>Inventory Number</strong></label> <input id="inventory_number" type="text"><br>`;
				book_form.innerHTML += `<button type="submit">Submit</button>`;
				
				form.addEventListener("submit", (e)=>{
					e.preventDefault();

					data = {
							"title":form.title.value,
							"author":form.author.value, 
							"year":form.year.value, 
							"genre":form.genre.value, 
							"inventory_number":form.inventory_number.value
						};
					console.log(data);

					fetch("http://127.0.0.1:8000/api/book/", {
            		method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(data),
					})

					.then((response) => response.json())
					.then((data) => {
							console.log("Success:", data);
							window.location.reload(); // Refreshes the page automatically
					})     
					.catch((error) => {
						console.error("Error:", error);
						window.location.reload();
					});
				});
			}
		</script>
	</body>
</html>

